**/.classpath
**/.project
**.settings
**/target
**/bin
**/gen
**/*.pydevproject
.project
release.properties
project.properties
local.properties
.DS_Store
**/project.properties
target
out
.idea
*.iml
classes
.gradle
**/build